.checkbox {
  vertical-align: middle;
}

.name {
  display: flex;
  align-items: center;
}

.col {
  line-height: 1.5;
}

.flag {
  max-width: 3rem;
  height: auto;

  margin-right: 1rem;
}
