.wrapper {
  overflow: hidden;
}

.layout {
  display: flex;
  gap: 2rem;
  min-height: 100%;
  padding: 2rem 0;
  width: 100%;
}

.tableSection {
  position: relative;

  flex: 0 0 100%;
  transition: flex-basis 0.3s ease;
  min-width: 0;

  &.withDetails {
    flex: 0 0 70%;
  }
}

.detailsSection {
  flex: 0 0 28%;
  min-width: 0;
  position: sticky;
  top: 2rem;
  animation: slideIn 0.3s ease-in-out;
}

.search {
  margin-bottom: 5rem;
}

.coinCategories {
  margin-bottom: 2.5rem;
}

.error {
  color: var(--color-error);
}

@keyframes slideIn {
  from {
    transform: translateX(20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
