//Colors
$cl-spec-alpha: #5d5d5d;
$cl-spec-beta: #f9372c;
$cl-spec-gamma: #1c9a13;
$cl-spec-psi: #019ec1;
$cl-spec-omega: #e95721;

$cl-light-alpha: #ffffff;
$cl-light-beta: #f5f5f5;
$cl-light-gamma: #dbdbdb;

$cl-dark-alpha: #000000;
$cl-dark-beta: #444444;
$cl-dark-gamma: #222222;

//Fonts
$ff-primary: "Roboto", sans-serif;
