.root {
  padding: 0 1.6rem;
  color: var(--text-secondary);
  font-size: 1.2rem;
  text-align: right;
  font-weight: 500;

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}
