.root {
  position: fixed;

  z-index: 4;

  max-width: 30rem;
  width: 100%;

  padding: 2rem;

  border-radius: var(--border-radius-medium);
  background-color: var(--background-secondary);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  &.bottom-left {
    left: 4rem;
    bottom: 4rem;

    &.is-open {
      animation: slide-in-left 0.2s ease-in-out forwards;
    }

    &.is-closed {
      animation: slide-out-left 0.2s ease-in-out forwards;
    }
  }

  &.bottom-right {
    right: 4rem;
    bottom: 4rem;

    &.is-open {
      animation: slide-in-right 0.2s ease-in-out forwards;
    }

    &.is-closed {
      animation: slide-out-right 0.2s ease-in-out forwards;
    }
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
  }

  100% {
    visibility: hidden;
    transform: translateX(-150%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }
  100% {
    visibility: hidden;
    transform: translateX(150%);
  }
}
